.card
  background-color: $color-white
  margin-top: $m-lg

  &__caption
    font:
      size: $font-size-xl
      weight: $font-weight-bold
    margin:
      block-start: 0
      block-end: 0
    padding:
      bottom: $m-sm
      left: $m-sm

  &__image
    height: $m-xxl * 4
    overflow: hidden

  &__subcaption
    border-bottom: $m-xs/4 solid $color-gray
    color: $color-gray
    display: inline-block
    font-size: $font-size-sm
    margin: $m-sm
    padding: $m-sm
    text-transform: uppercase

.column-section
  display: flex
  flex-direction: column

  &__column
    display: flex
    flex-direction: column
    flex: 1 1 33%
    justify-content: center

  &__description
    border-bottom: 1px solid rgba($color-gray, 0.3)
    color: rgba($color-gray, 0.5)
    font-size: $font-size-xl
    margin:
      bottom: $m-xl
      top: $m-md
    padding-bottom: $m-xl

.divider
  background-color: $brand-primary
  border-radius: $border-radius-sm
  border: $m-xs/8 solid $brand-primary
  height: $m-xs
  width: $m-xxl * 1.5

.heading
  font-size: $font-size-xl //* 2

  &.-primary-branded
    text-align: center
    &::before
      @extend .divider
      content: ' '
      display: block
      margin: 0 auto $m-xl

  &.-secondary-branded
    &::before
      @extend .divider
      content: ' '
      display: block
      margin:
        bottom: $m-xl
        top: $m-xl

.link-with-icon
  color: rgba($color-gray, 0.5)
  display: inline-block
  font-size: $font-size-base * 1.1
  left: $m-xxl + $m-sm
  padding:
    bottom: $m-sm
    top: $m-sm
  position: relative
  text-decoration: none

  &__icon
    align-items: center
    background-color: $brand-primary
    border-radius: 50%
    bottom: 0
    display: flex
    justify-content: center
    margin-right: $m-sm
    padding: $m-sm
    position: absolute
    right: 100%
    top: 0

+media-breakpoint-up(lg)
  .card
    margin-top: 0

    &.-visible-on-top
      box-shadow: -$m-lg $m-lg $m-xl rgba($brand-primary, 0.2)
      position: relative

    &:last-child:nth-child(n+2)
      left: $m-xxl
      margin-top: $m-xl
      position: relative

    &__image
      height: auto
      overflow: auto

  .column-section
    align-items: flex-start
    display: flex
    flex-direction: row
    justify-content: space-around

    &__column

      &:not(:last-child)
        margin-right: $m-lg

  .divider
    width: $m-xxl

  .heading
    font-size: $font-size-xl * 2
