.card
  background-color: $color-white

  &--visible-on-top
    @extend .card
    box-shadow: -$m-lg $m-lg $m-xl rgba($brand-primary, 0.2)
    position: relative

  &__caption
    font:
      size: $font-size-xl
      weight: $font-weight-bold
    padding:
      bottom: $m-sm
      left: $m-sm

  &__subcaption
    border-bottom: $m-xs/4 solid $color-gray
    color: $color-gray
    display: inline-block
    font-size: $font-size-sm
    margin: $m-sm
    padding: $m-sm
    text-transform: uppercase

  &:last-child:nth-child(n+2)
    left: $m-xxl
    margin-top: $m-xl
    position: relative

.column-section
  align-items: flex-start
  display: flex
  justify-content: space-around
  margin:
    left: $m-xxl * 2
    right: $m-xxl * 2

  &__column
    display: flex
    flex-direction: column
    flex: 1 1 33%
    justify-content: center

    &:not(:last-child)
      margin-right: $m-lg

  &__description
    border-bottom: 1px solid rgba($color-gray, 0.3)
    color: rgba($color-gray, 0.5)
    font-size: $font-size-xl
    margin:
      top: $m-md
      bottom: $m-xl
    padding-bottom: $m-xl

.divider
  background-color: $brand-primary
  border-radius: $border-radius-sm
  border: $m-xs/8 solid $brand-primary
  height: $m-sm
  width: $m-xxl

.heading
  font-size: $font-size-xl * 2

  &--primary-branded
    @extend .heading
    &::before
      @extend .divider
      content: ' '
      display: block
      margin: 0 auto $m-xl

  &--secondary-branded
    @extend .heading
    &::before
      @extend .divider
      content: ' '
      display: block
      margin:
        top: $m-xl
        bottom: $m-xl

.link-with-icon
  color: rgba($color-gray, 0.5)
  display: inline-block
  font-size: $font-size-base * 1.1
  left: $m-xxl + $m-sm
  padding:
    bottom: $m-sm
    top: $m-sm
  position: relative
  text-decoration: none

  &__icon
    align-items: center
    background-color: $brand-primary
    border-radius: 50%
    bottom: 0
    display: flex
    justify-content: center
    margin-right: $m-sm
    padding: $m-sm
    position: absolute
    right: 100%
    top: 0
