$border-width: 3px

.advert

  &__btn
    align-items: center
    background-color: rgba($color-white, .4)
    display: inline-flex
    font:
      size: $font-size-base
      weight: $font-weight-bold
    margin-top: $m-xxl
    padding-left: $m-xl
    text-align: center
    text-decoration: none

  &__details
    border-left: 3px solid $color-white
    font-size: $font-size-lg
    margin-top: $m-xl
    padding-left: $m-md

    div:last-child
      margin-top: $m-md

  &__header
    font:
      size: $font-size-xxl / 2
    line-height: $line-height-sm

  &__icon
    background-color: $color-white
    bottom: 0
    color: $brand-primary
    display: block
    font-size: $font-size-lg
    margin-left: $m-xl
    padding: $m-md

    svg
      fill: $brand-primary

  &__subheader
    color: $color-white
    font:
      size: $font-size-xl
    margin-top: $m-xl

.centered-container
  padding:
    left: $m-lg
    right: $m-lg

.primary-content
  background:
    color: $color-black
    image: linear-gradient(to bottom, rgba($color-white, 0) 60%, $color-gray-light), url("/b.jpg")
  margin-bottom: $m-xl
  padding-bottom: $m-xl

.slider
  border-top: $border-width solid rgba($color-white, .5)
  display: flex
  justify-content: space-between
  margin-bottom: $m-xxl * 2
  position: relative

  &__button
    align-items: center
    background-color: rgba($color-white, .4)
    border:
      bottom: 0
      left: 0
      right: 0
      top: $border-width solid rgba($color-white, .5)
    color: rgba($color-white, .5)
    display: flex
    flex-direction: column
    flex: 0 1 33%
    font-weight: $font-weight-bold
    justify-content: center
    margin-left: $m-xs
    max-height: 30%

    &.-active
      background-color: rgba($color-white, .7)
      border-top-color: $brand-selected
      position: relative

      &::before
        background-color: $brand-primary
        content: ' '
        height: $border-width
        bottom: 100%
        left: 0
        position: absolute
        width: $m-base

      .slider__button-caption
        color: black

      .slider__button-icon
        background-color: $brand-primary
        border-radius: 50%
        box-shadow: 0 $m-sm $m-sm $m-xs/1.5 $brand-primary
        height: $m-sm
        width: $m-sm

  &__buttons
    display: none

  &__button-caption
    padding:
      bottom: $m-lg
      top: $m-lg

  &__button-icon
    background-color: rgba($color-white, .4)
    border-radius: 50%
    height: $m-sm
    width: $m-sm

  &__header
    border-bottom: $border-width solid $color-white
    bottom: 100%
    display: inline-block
    line-height: $line-height-xl
    position: absolute
    text-transform: uppercase

+media-breakpoint-up(lg)
  .advert

    &__header
      font-size: $font-size-xxl

  .centered-container
    margin: 0 auto
    max-width: map-get($grid-breakpoints, xl)

  .indented-container
    margin:
      left: $m-lg
      right: $m-lg

  .primary-content
    background-size: contain

  .slider

    &__buttons
      display: flex
      flex: 0 1 15%
      justify-content: center
      position: relative
      top: -3px
