.gallery
  align-items: center
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-bottom: $m-xxl * 2

  &__image
    align-items: center
    display: flex
    flex-direction: column
    flex: 0 1 33%
    justify-content: center
    padding: $m-lg * 1.2
    img
      max-width: 25px

  &__thumb
    background-color: $color-white
    border-radius: 50%
    box-shadow: 0 $m-base $m-base rgba($color-black, 0.2)
    padding: $m-lg

  &__thumb-caption
    margin-top: $m-md
    text-align: center

.section
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center
  margin-top: $m-xxl * 2

  &__description
    color: rgba($color-gray, 0.5)
    font-size: $font-size-xl
    margin-bottom: $m-xxl
    text-align: center

+media-breakpoint-up(lg)
  .gallery

    &__image
      padding: $m-lg

    &__thumb

      &.-active
        background-color: $brand-primary
        box-shadow: 0 $m-base $m-base rgba($brand-primary, 0.4)
