.pages

  &__transition
    padding-top: $font-size-xxl
    background-image: linear-gradient(rgba($color-gray-light, 0), $color-gray-light)

  &__content
    background-color: $color-gray-light
    color: $color-black
    padding-top: $m-md

